.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  font-size: 22px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background: #ff2f2f;
  color: #fff;
  font-family: arial;
  border-radius: 10px;
  border: 0;
}

.button:active {
  box-shadow: inset 0px 0px 6px #000;
}
